<configuration>
<system.webServer>
<modules runAllManagedModulesForAllRequests="true"/>
    <rewrite>
        <rules>
<rule name="rule 1A" stopProcessing="true">
	<match url="^ws/([^/]*)/sys-create/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=create&amp;code=&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 2A" stopProcessing="true">
	<match url="^ws/([^/]*)/sys-screen/([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=screen&amp;code=&amp;search={R:2}&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 3A" stopProcessing="true">
	<match url="^ws/([^/]*)/sys-screen/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=screen&amp;code=&amp;search=&amp;position={R:2}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 4A" stopProcessing="true">
	<match url="^ws/([^/]*)/sys-screenHandler/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=screenHandler&amp;code=&amp;search={R:2}&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 5A" stopProcessing="true">
	<match url="^ws/([^/]*)/sys-update/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=update&amp;code={R:2}&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 6A" stopProcessing="true">
	<match url="^ws/([^/]*)/sys-delete/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=delete&amp;code={R:2}&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 7A" stopProcessing="true">
	<match url="^ws/([^/]*)/create/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=ws-create&amp;code=&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 8A" stopProcessing="true">
	<match url="^ws/([^/]*)/read/([0-9]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=ws-read&amp;code={R:2}&amp;search=&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 9A" stopProcessing="true">
	<match url="^ws/([^/]*)/read/([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=ws-read&amp;code=&amp;search={R:2}&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 10A" stopProcessing="true">
	<match url="^ws/([^/]*)/read/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=ws-read&amp;code=&amp;search=&amp;position={R:2}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 11A" stopProcessing="true">
	<match url="^ws/([^/]*)/update/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=ws-update&amp;code={R:2}&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 12A" stopProcessing="true">
	<match url="^ws/([^/]*)/delete/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method=ws-delete&amp;code={R:2}&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 13A" stopProcessing="true">
	<match url="^ws/([^/]*)/([^/]*)/([^/]*)?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method={R:2}&amp;code=&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order=&amp;parameters={R:3}"  />
</rule>
<rule name="rule 14A" stopProcessing="true">
	<match url="^ws/([^/]*)/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/ws/Getz.php?method={R:2}&amp;code=&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 15A" stopProcessing="true">
	<match url="^cms/([^/]*)/create/([^/]*)/([0-9]*)/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search={R:2}&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order={R:4}"  />
</rule>
<rule name="rule 16A" stopProcessing="true">
	<match url="^cms/([^/]*)/create/([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search={R:2}&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 17A" stopProcessing="true">
	<match url="^cms/([^/]*)/create/([0-9]*)/([^/]*)?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search=&amp;position={R:2}&amp;screen={R:1}&amp;base=&amp;order={R:3}"  />
</rule>
<rule name="rule 18A" stopProcessing="true">
	<match url="^cms/([^/]*)/create/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search=&amp;position={R:2}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 19A" stopProcessing="true">
	<match url="^cms/([^/]*)/create/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search=&amp;position=1&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 20A" stopProcessing="true">
	<match url="^cms/([^/]*)/([0-9]*)/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateRead&amp;code=&amp;search=&amp;position={R:2}&amp;screen={R:1}&amp;base=&amp;order={R:3}"  />
</rule>
<rule name="rule 21A" stopProcessing="true">
	<match url="^cms/([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateRead&amp;code=&amp;search=&amp;position={R:2}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 22A" stopProcessing="true">
	<match url="^cms/([^/]*)/update/([0-9]*)/([^/]*)/([0-9]*)/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:2}&amp;search={R:3}&amp;position={R:4}&amp;screen={R:1}&amp;base=&amp;order={R:5}"  />
</rule>
<rule name="rule 23A" stopProcessing="true">
	<match url="^cms/([^/]*)/update/([0-9]*)/([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:2}&amp;search={R:3}&amp;position={R:4}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 24A" stopProcessing="true">
	<match url="^cms/([^/]*)/update/([0-9]*)/([0-9]*)/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:2}&amp;search=&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order={R:4}"  />
</rule>
<rule name="rule 25A" stopProcessing="true">
	<match url="^cms/([^/]*)/update/([0-9]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:2}&amp;search=&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 26A" stopProcessing="true">
	<match url="^cms/([^/]*)/search/([^/]*)/([0-9]*)/([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateRead&amp;code=&amp;search={R:2}&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order={R:4}"  />
</rule>
<rule name="rule 27A" stopProcessing="true">
	<match url="^cms/([^/]*)/search/([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateRead&amp;code=&amp;search={R:2}&amp;position={R:3}&amp;screen={R:1}&amp;base=&amp;order="  />
</rule>
<rule name="rule 28A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/create/([^/]*)/([0-9]*)/([^/]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search={R:3}&amp;position={R:4}&amp;screen={R:1}&amp;base={R:2}&amp;order={R:5}&amp;historyBack={R:6}"  />
</rule>
<rule name="rule 29A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/create/([^/]*)/([0-9]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search={R:3}&amp;position={R:4}&amp;screen={R:1}&amp;base={R:2}&amp;order=&amp;historyBack={R:5}"  />
</rule>
<rule name="rule 30A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/create/([0-9]*)/([^/]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search=&amp;position={R:3}&amp;screen={R:1}&amp;base={R:2}&amp;order={R:4}&amp;historyBack={R:5}"  />
</rule>
<rule name="rule 31A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/create/([0-9]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCreate&amp;code=&amp;search=&amp;position={R:3}&amp;screen={R:1}&amp;base={R:2}&amp;order=&amp;historyBack={R:4}"  />
</rule>
<rule name="rule 32A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/([0-9]*)/([^/]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCalled&amp;code=&amp;search=&amp;position={R:3}&amp;screen={R:1}&amp;base={R:2}&amp;order={R:4}&amp;historyBack={R:5}"  />
</rule>
<rule name="rule 33A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/([0-9]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCalled&amp;code=&amp;search=&amp;position={R:3}&amp;screen={R:1}&amp;base={R:2}&amp;order=&amp;historyBack={R:4}"  />
</rule>
<rule name="rule 34A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/update/([0-9]*)/([^/]*)/([0-9]*)/([^/]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:3}&amp;search={R:4}&amp;position={R:5}&amp;screen={R:1}&amp;base={R:2}&amp;order={R:6}&amp;historyBack={R:7}"  />
</rule>
<rule name="rule 35A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/update/([0-9]*)/([^/]*)/([0-9]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:3}&amp;search={R:4}&amp;position={R:5}&amp;screen={R:1}&amp;base={R:2}&amp;order=&amp;historyBack={R:6}"  />
</rule>
<rule name="rule 36A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/update/([0-9]*)/([0-9]*)/([^/]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:3}&amp;search=&amp;position={R:4}&amp;screen={R:1}&amp;base={R:2}&amp;order={R:5}&amp;historyBack={R:6}"  />
</rule>
<rule name="rule 37A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/update/([0-9]*)/([0-9]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateUpdate&amp;code={R:3}&amp;search=&amp;position={R:4}&amp;screen={R:1}&amp;base={R:2}&amp;order=&amp;historyBack={R:5}"  />
</rule>
<rule name="rule 38A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/search/([^/]*)/([0-9]*)/([^/]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCalled&amp;code=&amp;search={R:3}&amp;position={R:4}&amp;screen={R:1}&amp;base={R:2}&amp;order={R:5}&amp;historyBack={R:6}"  />
</rule>
<rule name="rule 39A" stopProcessing="true">
	<match url="^cms/([^/]*)/called/([0-9]*)/search/([^/]*)/([0-9]*)/historyBack/(\-?[0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateCalled&amp;code=&amp;search={R:3}&amp;position={R:4}&amp;screen={R:1}&amp;base={R:2}&amp;order=&amp;historyBack={R:5}"  />
</rule>
<rule name="rule 40A" stopProcessing="true">
	<match url="^cms/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/cms/Getz.php?method=stateRead&amp;code=&amp;search=&amp;position=1&amp;screen=dashboard&amp;base=&amp;order=&amp;historyBack="  />
</rule>
<rule name="rule 41A" stopProcessing="true">
	<match url="^([^/]*)/([0-9]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/page/Getz.php?screen={R:1}&amp;method=page&amp;position={R:3}&amp;code={R:2}&amp;search="  />
</rule>
<rule name="rule 42A" stopProcessing="true">
	<match url="^([^/]*)/([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/page/Getz.php?screen={R:1}&amp;method=page&amp;position={R:3}&amp;code=&amp;search={R:2}"  />
</rule>
<rule name="rule 43A" stopProcessing="true">
	<match url="^([^/]*)/([0-9]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/page/Getz.php?screen={R:1}&amp;method=page&amp;position={R:2}&amp;code=&amp;search="  />
</rule>
<rule name="rule 44A" stopProcessing="true">
	<match url="^/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/page/Getz.php?screen=home&amp;method=page&amp;position=1&amp;code=&amp;search="  />
</rule>
<rule name="rule 45A" stopProcessing="true">
	<match url="^([^/]*)/?$"  ignoreCase="true" />
	<action type="Rewrite" url="/mod/page/Getz.php?screen={R:1}&amp;method=page&amp;position=1&amp;code=&amp;search="  />
</rule>
</rules>
    </rewrite>
</system.webServer>
</configuration>